/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* 
My Colors:
#232f28
#1d484a
#4c8389
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(255, 242, 234);
    padding: 20px;
}

.header{
    height: 95vh; 
    /* the height of the box is always 95% of the viewport height */
    background-image: linear-gradient(
        to right bottom,
        hsla(186, 29%, 42%, 0.800), 
        hsla(183, 44%, 20%, 0.800)),
    url(../img/header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%) ;
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 70% 100%, 30% 100%, 0% 90%); */
}

.logo-box{
    position: absolute;
    top: 20px;
    left: 30px;
}

.logo{
    height: 80px;
}

.header-text-box{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.primary-heading{
    color: #fff;
    text-transform: uppercase;
}

.primary-heading-main{
    display: block;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 21px;
    text-align: center;
}

.primary-heading-sub{
    display: block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 19px;
    text-align: center;
}

